@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-eye::-ms-reveal,
  .no-eye::-ms-clear,
  .no-eye::-webkit-credentials-auto-fill-button,
  .no-eye::-webkit-clear-button {
    display: none;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
  }
}
